* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
}

a {
    color: #B9853E;
}

a:hover {
    color: #6c4c28;
}

body {
  margin: auto;
  position: relative;
  padding: 0;
  height: 100%;
  background-image: url("Images/fond.png");
}

/* For mobile phones: */
@media only screen and (max-width: 700px) {
   .hidden-s{display: none !important;}
   .font-s-14{font-size: 14 !important;}
   .show-s{display: block !important;}
   .col-s-6 {width: 50%;}
}

@media only screen and (min-width: 700px) and (max-width: 868px) {
   .hidden-m{display: none !important;}
   .font-m-14{font-size: 14 !important;}
}

@media only screen and (min-width: 868px) {
   .hidden{display: none !important;}
   .font-18{font-size: 18 !important;}
}

[class*="col-"] {
   width: 100%;
}
@media only screen and (min-width: 700px) {
   /* For tablets: */
   .col-m-1 {width: 8.33%;}
   .col-m-2 {width: 16.66%;}
   .col-m-3 {width: 25%;}
   .col-m-4 {width: 33.33%;}
   .col-m-5 {width: 41.66%;}
   .col-m-6 {width: 50%;}
   .col-m-7 {width: 58.33%;}
   .col-m-8 {width: 66.66%;}
   .col-m-9 {width: 75%;}
   .col-m-10 {width: 83.33%;}
   .col-m-11 {width: 91.66%;}
   .col-m-12 {width: 100%;}

}
@media only screen and (min-width: 868px) {
   /* For desktop: */
   .col-1 {width: 8.33%;}
   .col-2 {width: 16.66%;}
   .col-3 {width: 25%;}
   .col-4 {width: 33.33%;}
   .col-5 {width: 41.66%;}
   .col-6 {width: 50%;}
   .col-7 {width: 58.33%;}
   .col-8 {width: 66.66%;}
   .col-9 {width: 75%;}
   .col-10 {width: 83.33%;}
   .col-11 {width: 91.66%;}
   .col-12 {width: 100%;}
}

@media only screen and (min-width: 1268px) {
   /* For desktop: */
   .col-l-1 {width: 8.33%;}
   .col-l-2 {width: 16.66%;}
   .col-l-3 {width: 25%;}
   .col-l-4 {width: 33.33%;}
   .col-l-5 {width: 41.66%;}
   .col-l-6 {width: 50%;}
   .col-l-7 {width: 58.33%;}
   .col-l-8 {width: 66.66%;}
   .col-l-9 {width: 75%;}
   .col-l-10 {width: 83.33%;}
   .col-l-11 {width: 91.66%;}
   .col-l-12 {width: 100%;}
}
/*--------------------------------------------------------------*/
/*   bannière                                                   */
/*--------------------------------------------------------------*/

#banner {
  display: block;
  /*background-image: url("Images/banniere2.png");
  height: 300px;
  background-position: center;*/
}

/*--------------------------------------------------------------*/
/*   menu principal                                             */
/*--------------------------------------------------------------*/

#menu {
  background-image: url("Images/menu2019.png");
  display: block;
  width: 100%;
  box-shadow: 0px 3px 3px black;

}

#menu a {
  text-decoration: none;
  display: inline-block;
  color: #F3C857;
  line-height: 48px;
  font-size: 23px;
  font-variant: small-caps;
  text-align: center;
}

#main {
  position: sticky;
  top: 0px;
  z-index: 1;
}

/*--------------------------------------------------------------*/
/*   menusidebar                                                */
/*--------------------------------------------------------------*/

aside {
  display: inline-block;
  padding-bottom: 10px;
  position: sticky;
  top: 50px;
}

aside a {
  display: inline-block;
  color: black;
  text-decoration: none;
  margin-left: 20%;
  font-variant: small-caps;
  padding: 2px;
  font-size: 20px;
}

aside h3 {
  display: block;
  font-size: 34px;
  font-variant: small-caps;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 0;
}

#side {
  display: block;
  /*background-color: #dddddd;*/
  background-image: url("Images/sidebar.png");
  position: absolute;
  /*top: 350px;*/
  z-index: 0;
}

/*--------------------------------------------------------------*/
/*   menu deroulant                                             */
/*--------------------------------------------------------------*/

.menuder {
  display: none;
  background-image: url("Images/menu2019.png");
  position: sticky;
  top: 0px;
  box-shadow: 0px 3px 3px black;
}

.dmenuder {
  text-decoration: none;
  display: block;
  color: white;
  line-height: 38px;
  font-size: 22px;
  font-variant: small-caps;
  text-align: center;
}

#menu-cont {
  display: none;
}

#button {
  text-decoration: none;
  color: white;
  line-height: 28px;
  text-align: right;
  display: block;
}

#img-menu {
  display: block;
  padding: 5px;
}

#is-shown {
  display: none;
}

/*--------------------------------------------------------------*/
/*   footer                                                     */
/*--------------------------------------------------------------*/


footer {
  display: block;
  /*background-color: #041d36;*/
  /*background-color: #002040;*/
  background-image: url("Images/footer2019.png");
  text-align: center;
}

#footer {
  position: absolute;
    width: 100%;
  /*bottom: 0px;
  left: 0px;*/
  z-index: 2;
}

footer * {
  display: inline-block;
}

.sponsors div {
  vertical-align: middle;
  display: inline-block;
  margin: 15px;
}

#logo {
  /*background-image: url("Images/logomines.png");*/
  display: inline-block;
  vertical-align: middle;
}

#reseauxsociaux img {
  /*height: 50px;
  width: 50px;*/
  display: inline-block;
  max-width: 70px;
}

#reseauxsociaux a {
  /*height: 50px;
  width: 50px;*/
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  max-width: 150px;
}

#reseauxsociaux {
  text-align: center;
  margin: 20px 0;
}

footer h4 {
  /*color: #ffcd47;*/
  color: #ffe500;
  margin-bottom: 15px;
  font-size: 22px;
}

#credit {
  color: white;
  margin: 15px 0;
}

.sponsors h4 {
  display: block;
}

.sponsors {
  display: inline-block;
}

.sponsor {
  margin: 2%;
  vertical-align: middle;
}

.sponsors, #reseauxsociaux, #contact {
  vertical-align: middle;
  display: inline-block;
}

.logo-max-width {
  max-width: 150px;
}


/*--------------------------------------------------------------*/
/*   contenu                                                    */
/*--------------------------------------------------------------*/

section {
  display: inline-block;
  vertical-align: top;
  padding-left: 2%;
  padding-bottom: 35px;
  padding-top: 20px;
}

section h1 {
  color: #313000;
  font-size: 32px;
  padding: 10px;
  font-variant: small-caps;
}

section h2 {
  color: #9a6932;
  font-size: 24px;
  padding: 10px 25px;
}

section p {
  padding: 7px 45px;
  text-align: justify;
}

section ul {
  padding: 7px 105px;
  text-align: justify;
}

.contact {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 7px 45px;
}

section a:hover {
  color: #6c4c28
}

.margin-box {
  display: inline-block;
}

#img-defile {
  margin: 20px auto;
  display: block;
  max-width: 300px;
}

#img-diner {
  margin: 20px auto;
  display: block;
  max-width: 600px;
}

#menu-big-title {
  text-align: center;
  margin-top: 40px;
}

.menu-title {
  display: block;
  text-align: center;
  font-size: 24px;
  margin-top: 48px;
  color:#002040;
}

.menu-p {
  display: block;
  text-align: center;
  font-variant: small-caps;
  font-size: 24px;
}

.menu-p a {
  color: black;
  text-decoration: none;
}

.menu-p a:hover {
  color: #6c4c28;
}

.menu-p-last {
  margin-bottom: 48px;
}

#note {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #999999;
  margin-right: 25px;
  font-size: 14px;
}

.img-max-width-960 {
  max-width: 960px;
}

.img-max-width-640 {
  max-width: 640px;
}

.center {
  text-align: center;
}

.center img {
  text-align: center;
  padding-right: 10px;
}

/*--------------------------------------------------------------*/
/*   acces                                                      */
/*--------------------------------------------------------------*/

.place {
  display: block;
  /*vertical-align: top;*/
  margin: 20px auto;
  max-width: 500px;
}

.hotels {
  display: inline-block;
  margin: 10px 0;
  padding: 0;
}

iframe {
  margin: 0 auto;
  display: block;
}

.payment {
  padding: 7px 30px;
}

table {
  text-align: center;
  margin-bottom: 20px;
}

tr {
  padding: 15px 0;
}

h3 {
  padding: 20px 40px;
}

h4 {
  padding: 15px 0;
}
